<<<<<<< HEAD
*{
    margin: 0 0;
    padding: 0 0;
}
.containment{
    background:#000000;
    width:100%;
}
.navbar{
    height:60px;
    width:100%;
    background: rgb(139, 8, 8);
    position: relative;
}
.navbar nav ul{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    border: 1px;
    height:60px;

    

}
.navbar nav ul li{
   border: 1px;
   height:100%;
   text-align: center;
   width:80px;
   font-size: 20px;
   padding-top: 20px;
   box-sizing: border-box;
   color:antiquewhite;
   font-weight: bolder;
}
.navbar nav ul li:hover{
    background:rgb(23, 59, 83);
}
.container{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

}
.one{
    color:white;
    font-size: 25px;
   
}
.web{
    color:rgb(128, 10, 10);
    font-size: 20px;
}
.blue{
    height:420vh;
    width:100%;
    background: rgb(31, 31, 95);
    border: 1px;
}
.these{
    height:10%;
    width:50%;
    transform: translateX(70%);
    color:white;
    font-size:40px;
}
.picgrid{
    height: 80%;
    width:90%;
    display: grid;
    margin: auto;
    grid-template-columns: 45% 45%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 100px;
    margin-left: 50px;
    border: 1px;
    transform: translateX(5%);

}
.picgrid1,.picgrid2,.picgrid3,.picgrid4,.picgrid5,.picgrid6{
    border:1px;
}
.pi1{
    background:url(tribute.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width:100%;

}
.p1{
    width:100%;
    height:10%;
    background: gray;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}
.pi2{
    background:url(success.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width:100%;

}
.p2{
    width:100%;
    height:10%;
    background: gray;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}
.pi3{
    background:url(calc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width:100%;

}
.p3{
    width:100%;
    height:10%;
    background: gray;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}
.pi4{
    background:url(map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width:100%;

}
.p4{
    width:100%;
    height:10%;
    background: gray;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}
.pi5{
    background:url(wiki.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width:100%;

}
.p5{
    width:100%;
    height:10%;
    background: gray;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
}
.pi6{
    background:url(tic-tac-toe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width:100%;

}
.p6{
    width:100%;
    height:10%;
    background: gray;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
   white-space: nowrap;
   padding-top: 25px;
    box-sizing: border-box;
}
.p6:hover::before{
    content: "<";
}
.p1 a{
    text-decoration: none;
    color:white;
    display: none;
}
.p2 a{
    text-decoration: none;
    color:white;
    display: none;
}
.p3 a{
    text-decoration: none;
    color:white;
    display: none;
}
.p4 a{
    text-decoration: none;
    color:white;
    display: none;
}
.p5 a{
    text-decoration: none;
    color:white;
    display: none;
}
.p6 a{
    text-decoration: none;
    color:white;
    display: none;
}
.showme{
    border:1px;
    height:50px;
    width: 120px;
    margin:auto;
    padding:auto;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
    background: rgb(68, 68, 133);
    border-radius: 10px;
    font-size:30px;
}
.showme a{
    color:white;
    font-size: 25px;
    text-decoration: none;
    
    
}
.showme:hover::after{
    content: ">";
    color:rgb(128, 10, 10);
    font-size: 25px;
    font-weight: bolder;
}
.p1:hover::before{
    content: "<";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p1:hover::after{
    content: "/>";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p2:hover::after{
    content: "/>";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p2:hover::before{
    content: "<";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p3:hover::after{
    content: "/>";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p3:hover::before{
    content: "<";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p4:hover::after{
    content: "/>";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p4:hover::before{
    content: "<";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p5:hover::after{
    content: "/>";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p5:hover::before{
    content: "<";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p6:hover::after{
    content: "/>";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.p6:hover::before{
    content: "<";
    color:rgb(128, 10, 10);
    font-size: 15px;
    font-weight: bolder;
}
.bottom{
    background: #000000;
    border: 1px solid transparent;
}
.b1{
    margin: auto;
    color:white;
    font-size: 30px;
    font-weight: bold;
    width:100%;
    text-align: center;
    margin-top:30px;
}
.b2{
    font-style: italic; 
    color:white;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    width:100%;
    text-align: center;
    margin-top: 30px;

}
.b3{
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}
.bb1 a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
.b4{
    display: flex;
    justify-content: space-between;
}
.b41{
    color:white;
    font-size: 21px;
}
=======
    *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
position: fixed;
top:0%;
left: 0;
background: grey;
}
h1{
    color: aqua;
    font-size: 40px;
    text-align: center;
}
.preloader{
    position: fixed;
    height:100vh ;
    width:100%;
    top: 0;
    left: 0;
    background-color: mediumspringgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-color: transparent;
}
.preloader nav:nth-child(1){
    height: 200px;
    width: 200px;
    border: 2px solid blueviolet;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color:transparent ;
    animation: spin 1s infinite linear;
}
.preloader nav:nth-child(2){
    height: 150px;
    width: 150px;
    border: 2px solid grey;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color:transparent ;
    animation: spin 2s infinite linear;
}
@keyframes spin{
   0%{
       transform: rotate();
   }
   100%{
    transform:rotate(360deg);
   }
}
*{
        background: linear-gradient(to right,rgb(58, 51, 51) 0%, black 100%);
        background-repeat: no-repeat;
        background-size: cover;
        margin:0;
        padding: 0;
        font-family:  'Raleway', sans-serif;
    }
    a{
        background:none;
        color:white;
        text-decoration:none;
    }
    .navbar{
        border: 1px solid rgb(192, 17, 52);
        height: auto;
        width: 100vw;
        background:rgb(192, 17, 52);
        display: inline-flex;
        position: fixed;
        justify-content: flex-end;
    
    
    }
    .navbar nav ul li{
        background: none;
        font-size: 26px;
        font-family: Raleway, sans-serif;
        list-style-type: none;
        
        padding: auto;
        width: 100px;
        padding-top: 10px;
        color: white;
        text-align: center;
        height:59px;
    }
    .navbar nav ul {
        background: none;
        display: flex;
    }
    .navbar nav{
        background: none;
    }
    .navbar nav ul li:hover{
        background: rgb(21, 21, 71);
        height: 60px;
        width: 100px;
    }
    .container{
        background-color: black;
        height: 450px;
        width: 100vw;
        border:1px solid white
    }
    .one{
        background:none;
        height: 150px;
        width: auto;
        margin:auto;
        color: white;
        font-size: 60px;
        margin-top: 150px;
        border:1px;
        margin-left: 230px;
        font-family: 'Raleway', sans-serif;
        
    }
    .web{
        color: rgb(190, 49, 68);
        font-style: italic;
        font-size: 28.8px;
        background:none;
        margin-left: 300px;
        border:1px ;
        margin-top: -100px;
    }
    .blue{
        background: rgb(46, 46, 85);
        height: 1600px;
        width: 100%;
    
    }
    .these{
        background:none;
        padding-top: 100px;
        font-size: 45px;
        padding-left: 190px;
        color:white;
        font-family: Arial;
    }
    .picgrid{
        display: grid;
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px 400px;
        height: auto;
        width: auto;
        margin: auto;
        margin-left: 90px;
        border: 1px ;
        background: none;
        gap: 30px;
    }
    .p1{
        height: 80px;
        width: 100%;
        background:  rgb(5, 17, 16);
        border-radius: 10px;
        color: white;
        padding-top: 13px;
        padding-left: 120px;
        box-sizing: border-box;
    }
    .p2{
        height: 80px;
        width: 100%;
        background:  rgb(5, 17, 16);
        border-radius: 10px;
        color: white;
        padding-top: 13px;
        padding-left: 110px;
        box-sizing: border-box;
    }.p3{
        height: 80px;
        width: 100%;
        background:  rgb(5, 17, 16);
        border-radius: 10px;
        color: white;
        
        padding-left: 120px;
        box-sizing: border-box;
    }.p4{
        height: 80px;
        width: 100%;
        background:  rgb(5, 17, 16);
        border-radius: 10px;
        color: white;
        
        padding-left: 100px;
        box-sizing: border-box;
    }.p5{
        height: 80px;
        width: 100%;
        background: rgb(5, 17, 16);
        border-radius: 10px;
        color: white;
        
        padding-left: 110px;
        box-sizing: border-box;
    }.p6{
        height: 80px;
        width: 100%;
        background: rgb(5, 17, 16);
        border-radius: 10px;
        color: white;
        
        padding-left: 120px;
        box-sizing: border-box;
    }
    .picgrid1{
        border-radius: 10px;
        background:none;
    }
    .picgrid2{
        border-radius: 10px;
        background:none;
    }.picgrid3{
        border-radius: 10px;
        background:none;
    }.picgrid4{
        border-radius: 10px;
        background:none;
    }.picgrid5{
        border-radius: 10px;
        background:none;
    }.picgrid6{
        border-radius: 10px;
        background:none;
    }
    .p1:hover{
        background:rgb(5, 17, 16);
        padding-top: 17px;
        
    }
    .p1:hover .tri{
        visibility:hidden;
    }
    .p2:hover{
        background:rgb(5, 17, 16);
        color: red;
        
    }
    .p2:hover .tri{
        visibility:hidden;
    }
    .p3:hover{
        background:rgb(5, 17, 16);
        color: red;
    }
    .p3:hover .tri{
        visibility:hidden;
    }
    .p4:hover{
        background:rgb(5, 17, 16);
        color: red;
        padding: auto;
    }
    .p4:hover .tri{
        visibility:hidden;
    }
    .p5:hover{
        background:rgb(5, 17, 16);
        color: red;
    }
    .p5:hover .tri{
        visibility:hidden;
    }
    .p6:hover{
        background:rgb(5, 17, 16);
        color: red;
    }
    .p6:hover .tri{
        visibility:hidden;
    }
    .pi1{
        border-radius: 10px;
        background:url(tribute.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }
    .pi2{
        border-radius: 10px;
        background:url(success.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }.pi3{
        border-radius: 10px;
        background:url(calc.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }.pi4{
        border-radius: 10px;
        background:url(map.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }.pi5{
        border-radius: 10px;
        background:url(wiki.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }.pi6{
        border-radius: 10px;
        background:url(tic-tac-toe.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 320px;
    }
    .p1 a{
        display:none;
    }
    .p1:hover a{
        display:block;
        color: rgb(240,240,240);
        box-sizing: border-box;
        position: relative;
        background:none;
        text-decoration: none;
        padding-top: 13px;
    }
    .p1 span{
        color:rgb(175, 47, 25);
    }
    .p2 a{
        display:none;
    }
    .p2:hover a{
        display:block;
        color: rgb(240,240,240);
        box-sizing: border-box;
        position: relative;
        background:none;
        text-decoration: none;
        padding-top: 20px;
    }
    .p2 span{
        color:rgb(175, 47, 25);
    }.p3 a{
        display:none;
    }
    .p3:hover a{
        display:block;
        color: rgb(240,240,240);
        box-sizing: border-box;
        position: relative;
        background:none;
        text-decoration: none;
        padding-top: 20px;
    }
    .p3 span{
        color:rgb(175, 47, 25);
    }.p4 a{
        display:none;
    }
    .p4:hover a{
        display:block;
        color: rgb(240,240,240);
        box-sizing: border-box;
        position: relative;
        background:none;
        text-decoration: none;
        padding-top: 20px;
    }
    .p4 span{
        color:rgb(175, 47, 25);
    }.p5 a{
        display:none;
    }
    .p5:hover a{
        display:block;
        color: rgb(240,240,240);
        box-sizing: border-box;
        position: relative;
        background:none;
        text-decoration: none;
        padding-top: 20px;
    }
    .p5 span{
        color:rgb(175, 47, 25);
    }.p6 a{
        display:none;
    }
    .p6:hover a{
        display:block;
        color: rgb(240,240,240);
        box-sizing: border-box;
        position: relative;
        background:none;
        text-decoration: none;
        padding-top: 20px;
    }
    .p6 span{
        color:rgb(175, 47, 25);
    }
    .showme{
        height: 60px;
        width: fit-content;
        background:rgb(21, 21, 71);
        margin:auto;
        margin-top: 30px;
        border-radius: 2px;
        padding-left: 10px;
        box-sizing:border-box;
        padding-top: 17px;
        padding-right: 9px;
    
        
        
    }
    .showme:hover{
        background:rgb(192, 17, 52)
    }
    .showme:hover a{
        display:block;
        color: rgb(240,240,240);
        box-sizing: border-box;
        position: relative;
        background:none;
        text-decoration: none;
    }
    .showme a {
        text-decoration: none;
        font-size: 29px;
        background:none;
        color: white;
    }
    .bottom{
        height:100%;
        width: 100%;
        background:rgb(5, 17, 16);
        margin-top: 50px;
    }
    .b1{
        height: 80px;
        width: 100%;
        color: white;
        font-size: 50px;
        border: 1px;
        background:none;
    
    }
    .b2{
        height: 30px;
        width: 100%;
        color: white;
        font-size: 20px;
        border: 1px;
        background:none;
    
    }
    .b3{
        height: 50px;
        width: 100%;
        color: white;
        font-size: 30px;
        border: 1px;
        display:flex;
        background:none;
    
    }
    .bb1{
        width: fit-content;
        height: fit-content;
        border: 1px ;
        font-family: sans-serif;
        margin:auto;
        margin-left: 30px;
        margin-right: 10px;
        margin-top: 40px;
        background:none;
        font-size: 30px;
        color:white
    }
    .bb1:hover{
        padding-top: 15px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    .b4{
        height: 80px;
        width: 100%;
        color: white;
        font-size: 20px;
        border: 1px;
        background: transparent;
        display: flex;
        margin-top: 50px;
    
    }
    .b41{
        background:none;
        margin-left: 10px;
    }
>>>>>>> f81c47fd49689ae8804f3d62a64365658dd43039
